.container {
  background-color: #fff;
  margin-bottom: 30px;
}

.header-title, .header {
  text-align: center;
}

.header {
  font-size: 20px;
  background-color: #ddd;
}

.header-div {
  margin: 20px;
}

.form-control-static {
  background-color: pink;
}

#upload-div {
  border: solid #bbb 2px;
  padding: 20px;
}

.view-add-form-text-input {

}

.approve {

}

.reject {

}

.form-section {
  margin-bottom: 5%;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    margin-left: 5%;
}

input[type='checkbox']:checked {
    background: black;
}
